.table-1 {
    border: 2px solid #8b8f8f;
    position: absolute;
}
.table-2{
    position: relative;
    width: 100%;
}
.table-3 {
    border: 2px solid #3bb779;
    position: absolute;
    width: 95%;
    margin: 10px 15px;
}

.f-12{font-size: 12px;}

.f-14{font-size: 14px;}
.f-16{font-size: 16px;}
.f-18{font-size: 18px;}

.h2-02{font-size: 18px;}
.h2-3{ font-size: 18px;   padding: 10px 10px;color: #fff;text-transform: capitalize;background-color: #91c74d;}
.h2-4{font-size: 16px;font-weight: 700;text-transform: uppercase;margin: 0;padding: 0px;}
.h2-5{font-size: 14px;font-weight: 400;text-transform: capitalize;margin: 0;padding: 0px;}
.h2-6{font-size: 16px;font-weight: 700;text-transform: capitalize;margin:00px;padding: 0px;}
.h2-7{font-size: 12px;font-weight: 400;margin: 0;padding: 0px;line-height: 1.4;}
.h2-8 {font-size: 18px;font-weight: 700;margin: 0;padding: 0px;line-height: 1.4;}
.h2-9 {font-size: 12px;font-weight: 700;margin: 0;padding: 0px 0 0px 0;line-height: 1.4;}

.border-1{border:1px solid #8b8f8f;}
.border-2{border-bottom:2px solid #3bb779;}
.border-3{border:2px solid #91c74d!important;}
.border-4{border:2px solid #565656;}
.border-5{border:2px solid #828282;}
.border-6{border:2px solid #828282;}
.border-7{border:2px solid #959595;}
.border-8{border-bottom:2px solid #828282;}


.ta-1{height: 100px;width: 100%;background-color: #f1f3fe;resize: none;    margin: 5px 0 6px 0;}

.bg-1{background-color: #8b8f8f;}
.bg-2{background-color: #91c74d;}
.bg-3{background-color: #3bb779;}
.bg-4{background-color: #d3d2d5;}
.bg-5{background-color: #eb3469;}
.bg-6{background-color: #95bc57;}

.row-1 {
    padding: 10px 0;
    height: 40px;
    background-color: #d3d2d8;
}
.row-1 {
    padding: 10px 0;
    height: 60px;
    background-color: #d3d2d8;
}

.color-1{color:#fff;}
.color-2{color:#8b8f8f;}
.color-3{color:#000;}
.color-4{color:#171212;}
.color-5{color:#af9a98;}
.color-6{color:#ec3038;}
.color-7{color:#828282;}


input{background-color: #f1f3fe;border:none;outline: none;padding:1px 10px;}
input {background-color: #f1f3fe;border: none;outline: none;padding: 1px 10px;border-bottom: 2px solid #91c74d;}
.input-1{background-color: #f1f3fe;border:none;outline: none;}
.input-2{background-color: #f1f3fe;border:none;outline: none;height: 25px;}
.input-2{background-color: #f1f3fe;border:none;outline: none;}

.btn-1{background-color: #878b8b;
    border: none;
    color: #fff;
    padding: 3px;
}
.btn-1 {
    background-color: #878b8b;
    border: none;
    color: #fff;
    padding: 5px 0 4px 0;
    font-size: 12px;
}

.head-1{text-align: center;padding: 0;margin:0;}
.h2-1{font-size: 14px;margin: 0;padding: 0;letter-spacing: 0.5px ;}

.h-5{height: 5px;}
.h-10{height: 10px;}
.h-20{height: 20px;}
.h-30{height: 30px;}
.h-40{height: 40px;}
.h-50{height: 50px;}
.h-60{height: 60px;}
.h-70{height: 70px;}
.h-80{height: 80px;}
.h-90{height: 80px;}
.h-190{height: 190px!important;max-height: auto;}
.h-190 {
    height: 250px!important;
    max-height: auto;
}
.h-210{height: 210px!important;}
.h-250{min-height: 250px!important;}
.h-60{height: 70px!important;}


.w-15{width: 15%;float: left;}
.w-20{width: 20%;float: left;}
.w-25{width: 25%;float: left;}
.w-30{width: 30%;float: left;}
.w-40{width: 40%;float: left;}
.w-50{width: 50%;float: left;}
.w-60{width: 60%;float: left;}
.w-70{width: 70%;float: left;}
.w-80{width: 80%;float: left;}
.w-100{width: 100%;float: left;}

.f-700{font-weight: 700 !important;}
.f-400{font-weight: 400 !important;}
.f-300{font-weight: 300 !important;}

.nopadding{padding: 0!important;}
.nomargin{margin:0!important;}
.m-0{margin:0!important;}

.margin-5{margin:10px 0 0 0;}

.m-1{margin:1px;}
.m-2{margin:2px;}
.m-3{margin:3px;}
.m-4{margin:4px;}
.m-5{margin:5px;}
.m-10{margin:10px 0;}

.mt-1{margin-top:1px;}
.mt-2{margin-top:2px;}
.mt-3{margin-top:3px;}
.mt-4{margin-top:4px;}
.mt-5{margin-top:5px;}
.mt-10{margin-top:10px;}
.mt-40{margin-top:40px;}
.mt-50{margin-top:50px;}

.mb-1{margin-bottom:1px;}
.mb-2{margin-bottom:2px;}
.mb-3{margin-bottom:3px;}
.mb-4{margin-bottom:4px;}
.mb-5{margin-bottom:5px;}
.mb-10{margin-bottom:10px;}
.mb-40{margin-bottom:40px;}
.mb-50{margin-bottom:50px;}

.margin-01{    margin: 40px 0px 0 0px;}
.margin-01 {
    margin: 11px 0px 0 0px;
}



.p-100{padding: 100px;}
.p-80{padding: 80px;}
.p-60{padding: 60px;}
.p-40{padding: 40px;}
.p-20{padding: 20px;}
.p-10{padding: 10px;}
.p-17{padding: 17px;}
.p-8{padding: 8px;}
.p-7{padding: 7px;}
.p-6{padding: 6px;}
.p-5{padding: 5px;}
.p-4{padding: 4px;}
.p-3{padding: 3px;}
.p-2{padding: 2px;}
.p-1{padding: 1px;}

.pb-100{padding-bottom: 100px;}
.pb-80{padding-bottom: 80px;}
.pb-60{padding-bottom: 60px;}
.pb-40{padding-bottom: 40px;}
.pb-20{padding-bottom: 20px;}
.pb-10{padding-bottom: 10px;}
.pb-5{padding-bottom: 5px;}

.pt-100{padding-top: 100px;}
.pt-80{padding-top: 80px;}
.pt-60{padding-top: 60px;}
.pt-40{padding-top: 40px;}
.pt-20{padding-top: 20px;}
.pt-10{padding-top: 10px;}
.pt-5{padding-top: 5px;}

.plr-10{padding-left: 10px;padding-right: 10px;}
.plr-20{padding-left: 20px;padding-right: 20px;}
.plr-30{padding-left: 30px;padding-right: 30px;}
.plr-40{padding-left: 40px;padding-right: 40px;}

.pr-zero{padding-right: 0px !important;}


.col-md-37 {width: 37.5%;float: left;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;  display: block;}
.col-md-37 {
    width: 36.5%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    margin: 2px;
}

.col-md-6.col-49{width:49%;margin:10px 8px 0 0px;}
.col-md-6.col-49 {
    width: 49%;
    margin:10px 0px;
}
.col-md-6.col-49-2{width:49%;margin:10px 0px 0 9px;}
.col-md-6.col-49-2{width:49%;margin:10px 0px 0 9px;}

.container {
    width: 850px;
}


