.imagetext--image_text.imagetext--image_text--fixed-height {
    padding: 0;}

.imagetext--image_text {
    position: relative;
    padding: 8rem 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;}

.imagetext--image_text::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;} 

.imagetext--image_text--fixed-height .page-width {
    position: relative;
    height: 100%;}

.imagetext--image_text--fixed-height .imagetext__content {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;}

.imagetext--image_text--fixed-height .imagetext__content--center {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;}

.imagetext__content--center {
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;}

.imagetext__content {
    position: relative;
    z-index: 1;}

.page-width::after {
    content: '';
    display: table;
    clear: both;}

.stack__heading {
    margin-top: 0;
    margin-bottom: 0.4em;
    font-family: "Cambria-Bold";
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.015em;
    color: #fff;
    opacity: 1;}

.btn.imagetext__btn {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    border: 1px solid transparent;
    background-color: #232323;
	font-family: 'Helvetica';
	font-size: 16px;}

.imagetext__btn {
    padding-left: 4rem;
    padding-right: 4rem;
    font-weight: bold;}

.btn.imagetext__btn:hover {
    background-color: #0a0a0a;
	opacity:1;}

div.home-page-footer-spacer{
	height:0;}

footer.site-footer{
	position:initial;}

div.image-drop img{
	margin-top:138px;}

div.testimonials2{
  height: auto !important;}

div.custom-video{
	height: auto !important;
	padding: 3rem 0;
	max-height:none;}

.out-vid-box{
	display:block;
	position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0px;
    height: 0;}

/* #videobox {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 100%;} */

#videobox{
	display:block;
	position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0px;
    height: 0;}

#videobox iframe {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 100%;}

div.home-intro-video-background{
	text-align:center;}

@media only screen and (max-width: 749px) {
  div.image-drop img {
	margin-top: 62px !important; 
  }
}


.img-responsive{     display: block;max-width: 100%;height: auto;vertical-align: middle;border: 0;}

.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.subscription-auto-modal-panel .info-container { height:400px!important; background: #f5eaed!important;}
.modal-section { margin: 0; padding:0; position: relative; background: #f5eaed;}
.modal-section .img-left{ margin: 0; padding:0; position: relative; float: left; width: 40%;}
.modal-section .img-left img { width: 100%;}
.modal-section .modal-content-right{ margin: 0; padding:0; position: relative; float: left; width: 60%;}

.modal-content-div {margin: 0 auto; padding:0; position: relative; text-align: center;}
.modal-content-div h3 {margin: 0 auto; padding:35px 20px 0 20px; position: relative; text-align: center;font-family: "Cambria-Bold"; color:#53565a; font-size: 32px; font-weight: 700;}
.modal-content-div h4 {margin: 0 auto;  padding: 5px 0 30px 0;position: relative; text-align: center;font-family: "Cambria-Bold"; color:#53565a; font-size: 24px; font-weight: 700;}
.modal-content-div .order-div {margin: 0 auto;padding: 0 40px 40px 40px; position: relative; text-align: center;font-size: 18px;color:#53565a;}
.modal-content-div .order-div span{ color:#53565a;font-weight: 700; font-size:22px; text-transform:uppercase;}

.modal-content-div .signup-div{margin: 0 auto; padding:0; position: relative; width: 75%;}
.modal-content-div .signup-div .signup-box{margin: 0 auto; padding:0; position: relative; text-align: left; border: 1px solid #a3a5a7; border-radius: 0; background: #fff; height: 46px; line-height: 46px;}
.modal-content-div .signup-div .signup-box .search-input{margin: 0 auto; padding:10px; position: relative; text-align: left; background: transparent; border: 0; border-radius: 0; color:#333; font-size:14px; height: auto; display: inline-block; width: 68%;outline: 0; }
.modal-content-div .signup-div .signupbtn{margin: 0 auto; padding:0 20px; position:absolute; top:-1px; right:-1px; text-align: center; background: #e8b9b4; border: 0; display: inline-block; height: 66px; line-height: 66px;width: 100px;font-weight: 700;font-size: 18px;color: #53565a;outline: :none;   }
.modal-content-div p.p-modal{ clear:both;margin: 0;padding: 5px 20px 10px 20px;color:#53565a;text-transform: uppercase; letter-spacing: 1px; font-size:13px;}


#mc-embedded-subscribe-form #mc-embedded-subscribe{margin: 0 auto; padding:0 20px; position:absolute; top:1px; right:12px; text-align: center; background: #e8b9b4!important; border: 0; display: inline-block; height: 67px; line-height: 67px;width: 100px;font-weight: 700;font-size: 18px;color: #53565a;outline: :none; border-radius:0; background-color: #e8b9b4!important;  }

#mc-embedded-subscribe-form .signupbtn.button-submit{margin: 0 auto; padding:0 20px; position:absolute; top:-1px; right:-1px; text-align: center; background: #e8b9b4!important; border: 0; display: inline-block; height: 66px; line-height: 66px;width: 100px;font-weight: 700;font-size: 18px;color: #53565a;outline: :none; border-radius:0; background-color: #e8b9b4!important;  }



.subscription-auto-modal-panel .info-container .close-button {
    right: -45px;
    top: 0;
}

@media only screen and (max-width: 767px) {
.info-container{ height:auto!important;}
.modal-section .img-left { width: 100%; display:none}
.modal-section .modal-content-right{ width: 100%;}
.modal-content-div h3 {padding:30px 0 0 0; font-size: 36px; }
.modal-content-div h4 { padding: 10px 0 30px 0; font-size: 24px;}
.modal-content-div .order-div {padding: 0 5% 40px 5%;font-size: 20px;}
.modal-content-div .signup-div{margin: 0 auto; padding:0; position: relative; width: 90%;}
.modal-content-div p.p-modal{margin: 0;padding: 15px 0 10px 0;color:#53565a;text-transform: uppercase; letter-spacing: 4px; }
  .subscription-auto-modal-panel .info-container .close-button {
    right: 10px !important;
    top: 10px !important;
    z-index: 2222;
}

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
   .info-container{ height:auto!important;}  
    .modal-content-div h3 {margin: 0 auto; padding:50px 0 0 0;}
    .modal-content-div h4 {margin: 0 auto;  padding: 8px 0 40px 0;}
    .modal-content-div .order-div {margin: 0 auto;padding: 0 30px 20px 30px;}
    
    .modal-content-div p.p-modal{padding: 35px 0 10px 0;}
  
    .subscription-auto-modal-panel .info-container .close-button {
    right: 10px !important;
    top: 10px !important;
    z-index: 2222;
}
    }

.detail-info-row .info-container {
    height: auto !important;
    background: #fff !important;
}

#mc_embed_signup .mc-field-group{
  background-color: #fff;
  padding-bottom: 0 !important ;
  border: 1px solid #a3a5a7;
}

.modal-content-div .signup-div #mc_embed_signup{
  border: 0px solid #a3a5a7;
  background: transparent;
  height: auto; 
}

#mc_embed_signup div#mce-responses{
  margin: 0 0 0px 0 !important;
}

#mc_embed_signup div.response{
	    width: 100% !important;
    text-align: center;
    padding-top: 15px !important;
  color: red;
}
